{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <img src="https://upload.wikimedia.org/wikipedia/en/9/94/IUP-CrimsonHawkFootball.jpg" class="athletic_background"></img>
    <div class="overlay_athletic">
        <div class = "montserrat">
            <div class = "back">
                <main>
                    <header style = "text-align: center;"> <h2><b><u> Getting Recruited </u></b></h2> </header>

                </main>
                    <p style = "text-align: center;">
                        <i> Being recruited to play sports in college can be a stressful time. <br>
                        It will be a period of dozens of emails and phone calls in which you need to market YOURSELF in the best way possible! <br></i>
                <ol>
                    </p>
                        <p style ="text-align: left;"> Here are a few of our sure-fire ways to make your recruiting process much simpler: </p
                        <li><h4><header style = "text-align: left;"><b> Email Many Of The Schools You Want To Go To Early On </b></h4></li>
                                <ul>
                                    <li> Ideally, 3-4 should be a reach/dream school, 3-4 should be on-par to your current level of achievement, and 3-4 should be ones that are a safety net</li>
                                    <li> Also consider tuition and scholarship opportunities when you choose your schools</li>
                                </ul>
                        <br>
                        <h4><header style = "text-align: left;"><b> Develop A Relationship With The School's Coaches Via Email </b></h4>
                        <br>
                        <p style = "text-align: left;"> <i>
                            Below is a template of an email to send a coach when reaching out:
                        </i></p>

                <main>
                        Good afternoon Coach ______, <br>
                        My name is ____________, a junior at ___________ High School in (City,State). <br> I play for ______(Team Name)____ and am primarily a _____(position title)______. <br>
                        As a student-athlete, I am motivated and driven to excel in everything I do and I <br> aspire to make it on a _______ team with prestige such as that of ____(College Name)_____. <br>
                        Here is a quick summary of my ___(stats)___   <b>KEEP IT CONCISE, YET CAPTURE ANY/ ALL IMPORTANT STATS: </b>
                        <br>
                        You can access my full ____<b>(Hudl/ ANY SPORTS SITE)</b> profile ___(Link to site)__ <br>
                        <br>
                        Academically, I have a _____ Unweighted GPA / ____ Weighted GPA, and I got a ____ on my first ACT/SAT in ___(month)____
                        <b>IF PLANNING TO TAKE A SUBSEQUENT TEST, LIST WHEN THAT IS HERE. </b> I have also attached a copy of my transcript below. <br>
                        <br>
                        Over the last few years, I have enjoyed watching ____(CollegeName/Team)___ <br> program grow tremendously and become one of the top in the country.
                       <br> <b>LIST 2-3 THINGS YOU ENJOY ABOUT THE TEAM/ WATCHING THEM COMPETE. LET THE COACH KNOW YOU ARE INTERESTED!! </b> <br>
                        <br>
                        I look forward to hearing back from you and learning more about your program!
                        <br>
                        Thank you for your time,
                        <br><br>
                        ___name___ <br>
                        Class of _______
                        <br>
                        _________ (List High School, City, State) <br>
                        ___EMAIL ___ <br>
                        ___PHONE___<br>
                    </main>
                    <br>
                    <br>

                   <h5><header style = "text-align: left;"><i> Notice, scholarship or anything monetary is LEFT OUT of the first email. Develop a connection and introduce yourself first to the coach. <br> Continue correspondence for quite some time. This will show the coach you care about the program and are genuinely interested in the school.
            </i></h5>
                <br>
                    <h4><header style = "text-align: left;"><b> Slowly, Start Telling Schools That You Are Not Interested In Their School </b></h4>


                            <h5><header style = "text-align: left;"> While it may be hard to do so,
                            the coach is used to hearing more no’s than yes’s. However, it is important to tell the coach no OVER THE EMAIL OR PHONE, NOT TEXT.

                                You should whittle down the number of schools steadily and not all at once. <br> It is vital to KEEP YOUR OPTIONS OPEN during the recruiting process.</h5>

                    <br>
                    <h4><header style = "text-align: left;"><b> Call or Email the Coach </b></h4>
                            <p style = "text-align: left;"> <i>
                            <br>
                            Below is a sample template in how to tell a coach this:
                            </i></p>

                        <td>
                        Dear Coach _______, <br>

                        After many weeks of consideration, I have decided to no longer pursue ____(CollegeName)___. <br>
                        I want to thank you for all the support you’ve given me during this process,
                        <br> <b> AND LIST 1-2 THINGS THAT MADE THE COACH’S SUPPORT HELPFUL TO YOU. </b> <br>
                        ____(CollegeName)____ was a spectacular place and the philosophy and team camaraderie was something I really enjoyed. <br>
                        I hope we can maintain our relationship, and I will always let you know if something changes. <br>
                        <b>THIS IS IMPORTANT TO KEEP A HEALTHY RELATIONSHIP, IN CASE YOUR OTHER SCHOOLS DO NOT GO AS PLANNED. </b>
                        <br>
                        I wish you and the team the best for upcoming years!
                        <br>
                        <br>
                        Thank you,
                        <br>
                        ____(NAME)____
                        </td>
                        <br>
                        <br>
                    </tr>
                    <h4><header style = "text-align: left;"><b> Once You Are Down To A Few Schools You Are All GOOD to Commit To The Application Process At That School! </b></h4>
                        <h5> Best of Luck!! <br><br> ~HeavyLetter Admissions </h5>
                </ol>
                </main>
            </div>
        </div>
{% endblock %}