{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <div class="counselor_bio1">
            <a href = "mailto: abc@example.com">Get in Touch!</a>
        </div>
        <div class="counselor_pic"></div>
    </div>
    <div>
        <div class="counselor_bio2">
            <a href = "mailto: abc@example.com">Get in Touch!</a>
        </div>
        <div class="counselor_pic"></div>
    </div>
    <div>
        <div class="counselor_bio3">
            <a href = "mailto: abc@example.com">Get in Touch!</a>
        </div>
        <div class="counselor_pic"></div>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Skyline_College_Campus.jpg"></img>
{% endblock %}